html,
body {
	margin: 0;
	padding: 0;
}


.logo {}

.shape_1 {
	position: absolute;
	top: 20%;
	right: 30%;
	-webkit-animation: moveLeftBounce 3s linear infinite;
	animation: moveLeftBounce 3s linear infinite;
}

.shape_2 {
	position: absolute;
	top: 0%;
	left: 2%;
	-webkit-animation: moveLeftBounce 3s linear infinite;
	animation: moveLeftBounce 3s linear infinite;
}


.image {
	position: absolute;

	top: 2%;
	left: 5%;

}

@keyframes moveLeftBounce {
	0% {
		transform: translateX(0px);
	}

	50% {
		transform: translateX(20px);
	}

	100% {
		transform: translateX(0px);
	}
}

@keyframes moveBounce {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(20px);
	}

	100% {
		transform: translateY(0px);
	}
}

.bg {
	background-image: linear-gradient(#19a94b, #000);
	height: 657px;
	overflow-y: hidden;
	border-top-left-radius: 260px;
	border-top-right-radius: 260px;
}


.countdown-container {
	margin-top: 40px;
	align-content: center;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;
	width: 100%;
}

.clock-canvas {
	border-radius: 50%;
	height: 0px;
	padding-bottom: 100%;
}

.text {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	width: 100%;
}

.text .val {
	font-size: 50px;
}

.text .type-time {
	font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.clock-item {
		margin-bottom: 30px;
	}
}

@media (max-width: 767px) {
	.clock-item {
		margin: 0px 30px 30px 30px;
	}
}
